.container {
  place-items: center;
  background-image: url('https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
}

.login {
  background-color: rgba(255 255 255 / 64%);
  padding: 4em 10em;
  border-radius: 3em;
  text-align: center;
}

button {
  background-color: #ef6e44;
  padding: 0.5em 2em;
  border: none;
  border-radius: 1em;
  font-weight: bold;
}

button:active {
  background-color: #f0a991;
}
